@CHARSET "ISO-8859-1";

body {
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

div.container {
	background-color: #ddddff;
	width: 100vw;
	height: 100vh;
	vertical-align: middle;
	text-align: center;
	padding: 0 10vw;
	transform: scale(1);
	-webkit-transition: transform 1s ease;
}

div.containerblur {
	background-color: #ddddff;
	width: 100vw;
	height: 100vh;
	vertical-align: middle;
	text-align: center;
	padding: 0 10vw;
	
	box-shadow: 0px 0px 20px 10px rgba(200,255,200,1);
	transform: scale(0.98);
	opacity: 0.7;
	
	text-shadow: 0px 0px 10px rgba(51, 51, 51, 0.9);
    color: rgba(51, 51, 51, 0);
    -webkit-transition: transform 1s ease;
}

div.containerblur img {
	-webkit-filter: blur(10px);
}

div.left {
	display: table-cell;
	background-color: #ffdddd;
	width: 40vw;
	height: 100vh;
	vertical-align: middle;

}

div.right {
	display: table-cell;
	background-color: #ddffdd;
	width: 40vw;
	height: 100vh;
	vertical-align: middle;
	overflow-y: scroll;
}

div.center {
	display: table-cell;
	font-size: 15px;
	vertical-align: middle;
	width: 40vw;
	text-align: center;
}

div.up {
	margin-top: 20px;
}

div.overlay{
	position:absolute;
	top: 10vh;
	left: 20vw;
	opacity:0.8;
	padding: 0;
	width: 60vw;
	height: 80vh;
	background-color: #ffffdd;
	display: block;
	-webkit-transition: opacity 1s ease;
}

div.overlayHidden {
	position:absolute;
	top: 10vh;
	left: 20vw;
	opacity:0.0;
	padding: 0;
	width: 60vw;
	height: 80vh;
	background-color: #ffffdd;
	display: block;
	-webkit-transition: opacity 0.7s ease;
}

table.users td{
	border-bottom: 1px solid #ccc;
}

table.users td.nomeUtente{
	-webkit-transition: padding-left 0.5s ease, background-color 0.5s ease;
	transition: padding-left 0.5s ease, background-color 0.5s ease;
}

table.users td.nomeUtente:HOVER{
	display:block;
	padding-left: 15px;
	background: #ffffff;
	
}

input[type=checkbox] {
	color: #00ff00;
}






td.userName {
	font-size: 110%;
}

td.userFollowersCountSentence{
	font-size: 75%;
}

td.userFollowersCount {
	font-size: 100%;
	
}
	








ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}


li {
  font-size: 100%;
  border-bottom: 1px solid #ccc;
}
 
li:last-child {
  border: none;
}
 
li a {
  text-decoration: none;
  color: #000;
  display: block;
  width: 200px;
 
  -webkit-transition: font-size 0.5s ease, background-color 0.3s ease;
  -moz-transition: font-size 0.5s ease, background-color 0.3s ease;
  -o-transition: font-size 0.5s ease, background-color 0.3s ease;
  -ms-transition: font-size 0.5s ease, background-color 0.3s ease;
  transition: font-size 0.5s ease, background-color 0.3s ease;
}
 
li a:hover {
  font-size: 125%;
  background: #f6f6f6;
}































.aqua-button {
	clear: inherit;
	background:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#529DFF), to(#376CBF));
	display:block;
	height:21px;
	width:130px;
	-webkit-border-radius:14px;
	font-size:13px;
	color:white;
	text-decoration:none;
	border:1px solid #2a62ab;
	position:relative;
	padding:6px 1px 1px 1px;
	text-align:center;
	text-shadow:1px 1px 1px #000;
	font-weight:bold;
	-webkit-box-shadow:0px 1px 2px #999;
}
.aqua-button span.shine {
	position:absolute;
	height:20px;
	width:126px;
	-webkit-border-radius:14px;
	margin:-5px 0 0 2px;
	background-image: -webkit-gradient(linear, 0% 0%, 0% 50%, from(rgba(132, 213, 255, 0.8)), to(rgba(132, 213, 255, 0.0)));
	border-top:1px solid #b5e1ff;
}
.aqua-button span.glow {
	position:absolute;
	height:10px;
	width:120px;
	margin:10px 0 0 5px;
	-webkit-border-radius:15px;
	background-image: -webkit-gradient(linear, 0% 0%, 0% 95%, from(rgba(198, 242, 255, 0.0)), to(rgba(105, 172, 232, 1.0)));
	border-bottom:1px solid #85c0f6;
}

}