@CHARSET "ISO-8859-1";

html {
	overflow-y: hidden;
}

body {
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	margin: 0px;
}

div {
	border-radius: 7px;
}

div.container {
	background: rgba(0, 132, 180, 0.3);
	width: auto;
	height: 99vh;
	vertical-align: middle;
	text-align: center;
	padding: 10px 10vw;
	transform: scale(1);
	-webkit-transition: transform 1s ease;
}

div.containerblur {
	background: rgba(0, 132, 180, 0.3);
	width: auto;
	height: 99vh;
	vertical-align: middle;
	text-align: center;
	padding: 10px 10vw;
	
	box-shadow: 0px 0px 20px 10px rgba(200,255,200,1);
	transform: scale(0.98);
	opacity: 0.7;
	
	text-shadow: 0px 0px 10px rgba(51, 51, 51, 0.9);
    color: rgba(51, 51, 51, 0);
    -webkit-transition: transform 1s ease;
}

div.containerblur img {
	-webkit-filter: blur(10px);
}

div.left {
	display: table-cell;
	/*background-color: #ffdddd;*/
	width: 40vw;
	height: 97vh;
	vertical-align: middle;
	overflow: auto;
	
	box-shadow: 0px 0px 50px 2px rgba(0, 132, 180, 0.5);
}

div.right {
	display: table-cell;
	/*background-color: #ddffdd;*/
	width: 40vw;
	height: 97vh;
	vertical-align: middle;
	
	box-shadow: 0px 0px 50px 2px rgba(0, 132, 180, 0.5);
}

div.center {
	display: block;
	font-size: 15px;
	vertical-align: middle;
	width: 40vw;
	text-align: center;
}

div.up {
	display:block;
	width: 80vw;
	text-align: center;
	margin-top: 7px;
	
}

div.overlay{
	position:absolute;
	top: 5vh;
	left: 10vw;
	opacity:0.8;
	padding: 0;
	width: 80vw;
	height: 90vh;
	background: rgba(0, 138, 180, 0.8);
	display: block;
	-webkit-transition: opacity 1s ease, width 0.1s ease, height 0.1s ease;
	border-radius: 25px;
}

div.overlayHidden {
	position:absolute;
	top: 5vw;
	left: 10vw;
	opacity:0.0;
	padding: 0;
	width: 80vw;
	height: 90vh;
	background: rgba(0, 138, 180, 0.8);
	display: block;
	-webkit-transition: opacity 0.8s ease, width 1s ease, height 1s ease;
	border-radius: 25px;
}

#userList {
	display: block;
	overflow-y: auto;
	width: 90%;
	height: 75vh;
	margin: 10px auto;
}

table.users td{
	border-bottom: 1px solid #ccc;
}

table.users td.nomeUtente{
	width: 175px;
	-webkit-transition: padding-left 0.5s ease, background-color 0.5s ease;
	transition: padding-left 0.5s ease, background-color 0.5s ease;
}

table.users td.nomeUtente:HOVER{
	
	background: rgba(0, 138, 180, 0.2);
	
}

.pNomeUtente:HOVER {
	padding-left: 15px;
	text-shadow: 0px 0px 10px rgba(100, 100, 158, 0.9);
	transition: padding-left 0.5s ease, background-color 0.5s ease;
}

input[type=checkbox] {
	color: #00ff00;
}






td.userName {
	font-size: 110%;
}

td.userFollowersCountSentence{
	font-size: 75%;
}

td.userFollowersCount {
	font-size: 100%;
	
}
	
.shadow {
	box-shadow: 0px 0px 25px 2px rgba(0, 132, 180, 0.5);
}







ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}


li {
  font-size: 100%;
  border-bottom: 1px solid #ccc;
}
 
li:last-child {
  border: none;
}
 
li a {
  text-decoration: none;
  color: #000;
  display: block;
  width: 200px;
 
  -webkit-transition: font-size 0.5s ease, background-color 0.3s ease;
  -moz-transition: font-size 0.5s ease, background-color 0.3s ease;
  -o-transition: font-size 0.5s ease, background-color 0.3s ease;
  -ms-transition: font-size 0.5s ease, background-color 0.3s ease;
  transition: font-size 0.5s ease, background-color 0.3s ease;
}
 
li a:hover {
  font-size: 125%;
  background: #f6f6f6;
}























.button {
  display: inline-block;
  line-height: 150%;
  padding-right: 30px;
  padding-left: 30px;
  position: relative;
  background-color:rgb(41,127,184);
  color:rgb(255,255,255);
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 15px;
  
  
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  text-shadow:0px 1px 0px rgba(0,0,0,0.5);
-ms-filter:"progid:DXImageTransform.Microsoft.dropshadow(OffX=0,OffY=1,Color=#ff123852,Positive=true)";zoom:1;
filter:progid:DXImageTransform.Microsoft.dropshadow(OffX=0,OffY=1,Color=#ff123852,Positive=true);


	box-shadow:0px 2px 2px rgba(0,0,0,0.2);
	-ms-filter:"progid:DXImageTransform.Microsoft.dropshadow(OffX=0,OffY=2,Color=#33000000,Positive=true)";
	filter:progid:DXImageTransform.Microsoft.dropshadow(OffX=0,OffY=2,Color=#33000000,Positive=true);
}

.button:active {
	box-shadow:1px 3px 1px rgba(255,255,255,0.5);
	-ms-filter:"progid:DXImageTransform.Microsoft.dropshadow(OffX=0,OffY=1,Color=#ccffffff,Positive=true)";
	filter:progid:DXImageTransform.Microsoft.dropshadow(OffX=0,OffY=1,Color=#ccffffff,Positive=true);
}

.button:HOVER {
	background: linear-gradient(
      rgba(41,127,184, 0.9), 
      rgba(39,126,182, 0.9));
	
}