<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" metadata-complete="true" version="3.0">
  <servlet>
    <servlet-name>SignIn</servlet-name>
    <servlet-class>connessione.SignIn</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Callback</servlet-name>
    <servlet-class>connessione.Callback</servlet-class>
  </servlet>
   <servlet>
    <servlet-name>Application</servlet-name>
    <servlet-class>Application</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SignIn</servlet-name>
    <url-pattern>/SignIn</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Callback</servlet-name>
    <url-pattern>/Callback</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Application</servlet-name>
    <url-pattern>/Application</url-pattern>
  </servlet-mapping>
</web-app>